<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.Class_studentDao">
    <select id="addclass" parameterType="int" resultType="com.example.demo.entity.Class_student">
        insert into class_student values(default ,#{course_class_id} ,#{stu_id},0,0,0) ;
    </select>
</mapper>